body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdf9ff;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-start; /* Align elements to the top */
    position: relative;
}

.side-strip {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: #5aebff;
}

    .side-strip.left {
        left: 0;
    }

    .side-strip.right {
        right: 0;
    }

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    z-index: 10;
}

.content {
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.margin {
    margin-right: 18px;
}

.qr-input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: bisque;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    align-self: center; 
}

#qr-result {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}

    #qr-result img {
        max-width: 80%; 
        max-height: 80vh; 
        border: 2px solid #000;
    }

/* About Section */
#about-result {
    margin-top: 20px;
    margin-bottom: 10px; 
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #333; 
    flex-grow: 0;
    word-wrap: break-word; 
}

#about-button {
    margin-top: auto; 
    align-self: center; 
